.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 414.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.001-rating:before {
      background-position: 0em 0em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.002-settings-1:before {
      background-position: 0em -51.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.003-settings:before {
      background-position: 0em -102.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.004-star:before {
      background-position: 0em -153.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.005-hand-shake:before {
      background-position: 0em -204.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.006-dashboard:before {
      background-position: 0em -256em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.007-headset:before {
      background-position: 0em -307.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.008-medal:before {
      background-position: 0em -358.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.logo:before {
      background-position: 0em -409.6em;
      width: 11.61em;
      height: 5.174em;
  }





