.burger {
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    &__layer {
        height: 2px;
        width: 100%;
        background: #000000;
        /* &:nth-child(1n) {
            top: 0;
        }
        &:nth-child(2n) {
            top: 5px;
        }
        &:nth-child(3n) {
            top: 10px;
        } */
    }
}