.button {
    border: none;
    border-radius: 100px;
    padding: 2.5% 7.5%;
    font-weight: lighter;
    transition: 0.5s;
    
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    &--submit {
        position: relative;
        right: 0;
        margin-bottom: 7.5px;
        background: @red;
        color: #ffffff;
        font-size: @fontSmall;
    }
}