.button {
    border: none;
    border-radius: 100px;
    padding: 2.5% 5%;
    font-weight: lighter;
    &--submit {
        background: #ff0000;
        color: #ffffff;
        font-size: @fontSmall;
    }
}
//TODO: button is wrongly placed