//timespan is actually all years that are present in timeline. E.g. 2000-2010 would have a timespan of 11
@timespan: 14;

//events of the timeline
.event {
    position: relative;
    display: flex;
    padding: 0 10%;

    @media (min-width: 768px) {
        padding-top: 20%;
        height: 60%;
        flex-direction: column;
    }

    //timeline-line
    &::before{
        content:"";
        position: absolute;
        left: 0;
        border-bottom: solid 2px @darkGrey;
        width: 100%;
        height: 46px;

        @media (min-width: 768px) {
            top: 0;
            border-right: solid 3px @darkGrey;
            border-bottom: none;
            width: 49.7%;
            height: 100%;
        }
    }

    //adds blank spaces between events. The numbers are space-sizes in years. Add them to build non present spaces. E.g. 05 = 04+01
    &__section {
        &__01 {
            height: 1/@timespan*100%;
        }

        &__02 {
            height: 2/@timespan*100%;
        }

        &__04 {
            height: 4/@timespan*100%;
        }
    }

    
    &__circle {
        position: relative;
        top: 0;
        border: solid 2px @darkGrey;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #ffffff;
        transition: 0.25s;
        
        @media (min-width: 768px) {
            border: solid 3px @darkGrey;
        }
    }
    
    &__text, &__date {
        @media (min-width: 768px) {
            margin: 0 10px;
            width: 40%;
            transition: 0.25s;
        }
    }
    
    &__date {
        color: @darkGrey;
        
        @media (min-width: 768px) {
            text-align: right;
        }
    }
    
    &__text {
        color: #000000;
    }

    //items in the event container
    &__item {
        padding-right: 20px;
        font-size: @fontSmall; 
        .fontStyle;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
        
        @media (min-width: 768px) {
            display: flex;
            padding: 5px 0;
            height: 1/@timespan*100%;
            justify-content: center;
            background: #ffffff;
            z-index: 10;
        }

        &--selected {
            & > .event__date {
                color: @red;
            }
            & > .event__circle {
                border-color: @red;
            }
        }
    }
}