.header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 15px 5%;
    width: 90%;
    background: #ffffff;
    z-index: 100;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1024px){
        padding: 25px 10%;
        width: 80%;
    }
}