.header {
    position: fixed;
    display: flex;
    top: 0;
    padding: 15px 5%;
    width: 90%;
    background: #ffffff;
    z-index: 100;

    &__item {
        flex: 1 50%;
    }

    @media (min-width: 1024px){
        padding: 25px 10%;
        width: 80%;
    }
}