.hero {
    text-align: center;
    padding: 150px 10%;
    &__headline {
        text-transform: uppercase;
        padding:0 0 10px;
    }
    &__subline {
        font-size: 15px;
        color: #8f8f8f;
    }
}
