//TODO: Hero too small when screen-width > 1024px;
.hero {
    text-align: center;
    padding: 150px 10%;
    &__headline {
        text-transform: uppercase;
        padding:0 0 10px;
    }
    &__subline {
        font-size: @fontMedium;
        color: #8f8f8f;
    }
}
