.input {
    width: 100%;
    padding: 7.5px 0;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: solid 2px #ffffff;
    .fontStyle;
    font-size: @fontSmall;
    color: #ffffff;
    &::-webkit-input-placeholder { //autoprefixer required, chrome only
        color: #ffffff;
    }
}