.input {
    width: 100%;
    padding: 7.5px 0;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: solid 2px #ffffff;
    font-size: @fontSmall;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ffffff;
    }
}