.menu {
    position: absolute;
    background: #ffffff;
    width: 90%;
    padding: 0 5% 15px;
    left: 0;
    top: -100vh;
    transition-duration: 0.5s;
    z-index: 80;
    &-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-checkbox {
        position: absolute;
        left: -9999px;
        &:checked ~ nav {
            top: 48px;
        }
    }
    &__item {
        display: block;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: @fontMedium;
        font-weight: lighter;
        margin-bottom: 2px;
    }
}