//TODO: z-index is wrong, menu goes over header rn.
.menu {
    position: absolute;
    right: -100vw;
    top: 48px;
    padding: 0 5% 15px;
    width: 90%;
    background: #ffffff;
    transition-duration: 0.25s;
    opacity: 0;

    @media (min-width: 1024px) {
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        opacity: 1;
        text-align: right;
        white-space: nowrap;
    }

    &-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &-checkbox {
        &:checked {
            &~ nav {
                right: 0;
                opacity: 1;
            }
            &~ .burger {
                & span:nth-child(1) {
                    top: 5px;
                    transform: rotate(45deg);
                }
                & span:nth-child(2) {
                    opacity: 0;
                }
                & span:nth-child(3) {
                    top: 5px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__item {
        display: block;
        margin-bottom: 2px;
        font-size: @fontMedium;
        .fontStyle;
        color: #000000;
        text-decoration: none;
        text-align: right;

        @media (min-width: 1024px) {
            display: inline-block;
            margin: 0 5px
        }
    }
}