.services {
    display: flex;
    padding: 10%;
    flex-direction: column;
    background: @lightGrey;
    text-align: center;

    @media (min-width: 768px){
        padding: 5% 10%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) { 
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin: 10% 0;
        text-align: left;

        @media (min-width: 768px) {
            margin: 5% 0;
        }
    }
    
    &__copy {
        @media (min-width: 768px) {
            padding-right: 5px;
        }
    }
}
