.square {
    width: 100vw;
    height: 100vw;
    //desktop version dimensions 50%/50%
    &__inner {
        margin: 10%;
    }
    &--black {
        background: #000000;
        color: white;
    }
    //need better solution for larger screens
    @media (min-width: 768px){
        width: 50vw;
        height: 50vw;
    }
}
    