.square {
    width: 100vw;
    overflow: hidden;

    @media (min-width: 768px){
        height: 50vw;
    }
    
    &__inner {
        margin: 10%;
        @media (min-width: 768px){
            margin: 20%;
        }
    }

    &--black {
        background: @darkNavy;
        color: #ffffff;
    }
}
    