.textarea {
    background: transparent;
    border: none;
    border-bottom: solid 2px #ffffff;
    padding: 7.5px 0;
    width: 100%;
    height: 130px; //requires better solution
    font-size: @fontSmall;
    .fontStyle;
    resize: none;
    color: #ffffff;

    &::placeholder {
        color: #ffffff;
    }
}