.timeline {
    position: relative;
    padding-top: 10%;

    @media (min-width: 768px) {
        padding: 0;
    }

    &__content {
        display: none;

        &.is-shown {
            display: block;
        }
    }
}
