.timeline {
    padding-top: 10%;
    @media (min-width: 768px) {
        padding: 0;
    }
    &__line {
        width: 100%;
        border-bottom: solid 2px #8f8f8f;
        height: 46px;
        position: absolute;
        @media (min-width: 768px) {
            width: 25%; //should be 50%
            border-right: solid 2px #8f8f8f;
            border-bottom: none;
            height: 37.5vw;
        }
    }
}
