@darkGrey: #D8D8D8;
@darkNavy: #141720;
@red: #C71222;
@lightGrey: #EFEFEF;
                      //#FF00FF - Placeholder color
                      
//fontsizes screen<768px
@fontLarge: 25px;
@fontMedium: 15px;
@fontSmall: 12.5px;

.fontStyle {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}